
body {
font-family: Tahoma;
margin:0;
padding:20px;
background:#f8f9fa;
}

.lantern-bg {
position:fixed;
top:0;
left:0;
width:45%;
height:250px;
background:url('lanterns.jpg') no-repeat top left;
background-size:contain;
z-index:-1;
}

.page {
background:white;
max-width:850px;
margin:auto;
padding:30px;
border-radius:15px;
box-shadow:0 0 25px rgba(0,0,0,0.1);
}

.dark-text {
color:black;
}

.main-pill {
background:#21758D;
color:white;
display:inline-block;
padding:15px 60px;
border-radius:50px;
font-size:18px;
margin-top:20px;
}

.semester-pill {
background:#00767F;
color:white;
display:inline-block;
padding:8px 40px;
border-radius:40px;
font-size:14px;
margin-top:10px;
}

.search-section { text-align:center; margin:25px 0; }

input {
padding:10px;
width:240px;
border-radius:30px;
border:1px solid #ccc;
}

button {
padding:10px 25px;
background:#21758D;
color:white;
border:none;
border-radius:30px;
cursor:pointer;
}

.info-table, .schedule-table {
width:100%;
border-collapse:collapse;
font-size:12px;
margin-top:15px;
}

.info-table td {
border:1px solid #ddd;
padding:6px;
background:#fafafa;
color:black;
}

.day-box {
border:2px solid #21758D;
border-radius:15px;
padding:10px;
margin-top:15px;
background:#f1fbfd;
page-break-inside: avoid;
}

.day-title {
background:#00767F;
color:white;
padding:8px 35px;
border-radius:40px;
display:inline-block;
margin-bottom:10px;
font-size:13px;
}

.schedule-table th {
background:#21758D;
color:white;
padding:6px;
}

.schedule-table td {
border:1px solid #ccc;
padding:5px;
color:black;
}

.trainer-name {
margin-top:15px;
padding:10px;
background:#e6f7f9;
border:1px solid #21758D;
text-align:center;
font-size:13px;
border-radius:12px;
color:black;
}

.footer-note {
margin-top:10px;
padding:8px;
background:#eefbfd;
border:1px solid #00767F;
text-align:center;
font-size:11px;
border-radius:12px;
color:black;
}

.print-btn { margin-top:10px; text-align:center; }

@media print {
@page { size:A4; margin:5mm; }
body { background:white; }
.lantern-bg { display:none; }
.no-print { display:none; }
.page { box-shadow:none; }
}
